<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>carouselLab.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6333F96C1CF88E0C006A4D93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6333F9801CF88E0C006A4D93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6333F98B1CF88E0C006A4D93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
